@import '../../App.scss';
.Home{
    min-height: 660px;
    padding:10px 30px 10px 30px;
    background: rgb(11,81,87);
    background: linear-gradient(180deg, rgba(11,81,87,0.7) 0%, rgba(189,128,6,0.7) 100%);
}