@import '../../App.scss';

.Navbar{
    width: 100%;
    height: 100px;
    padding:10px 30px 10px 30px;
    box-sizing: border-box;
    border-bottom:3px solid $color-darkGreenFont ;
    box-shadow:0px 2px 2px rgba(0, 0, 0, 0.4);
    background:white;
}

.Navbar_logoContainer{
    float:left;
    height:100%;
    display: flex; 
    align-items:flex-start; 
    flex-wrap: wrap; 
    flex-direction: column-reverse;

}
.Navbar_logoContainer img{
    float:left;
    height:100%;
    
    

}
.Navbar_logoContainer h4{
    float:left;

}

.Navbar_menuIconContainer___closed{
    float:right;
    width: 60px;
    height: 60px;
}