@import "../../App.scss";

// Navbar default state

.Navbar {
    position: relative;
    width: 100%;
    height: 120px;
    padding: 10px 30px 10px 30px;
    box-sizing: border-box;
    border-bottom: 4px solid $color-darkGreenFont;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    background: rgb(189,128,6);
    background: linear-gradient(165deg, rgba(189,128,6,0.6222689759497548) 0%, rgba(11,81,87,1) 70%);

}

.Navbar-logoContainer {
    float: left;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.Navbar-logoContainerLink {
    color: black;
    text-decoration: none;
}
.Navbar-logoContainer img {
    float: left;
    height: 100%;
}
.Navbar-logoContainer h4 {
    float: left;
}

.Navbar_isActive {
    h2 {
        
        color: white !important;
        font-size:2em !important;
    }
}

// Expandable navbar

.Navbar-expandable {
    position: absolute;
    width: 100%;

    padding: 10px 30px 10px 30px;
    height: 20px;
    margin: -10px -30px -10px -30px;
    border-bottom: 4px solid $color-lightFont;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    z-index: 3;
    opacity: 0;
    background: rgb(189,128,6);
    background: linear-gradient(170deg, rgba(11,81,87,1) 0%, rgba(189,128,6,1) 90%);

    transition: opacity 0.4s, height 0.2s ease-in-out;
}

.Navbar-expandable-linksContainer {

    left: 10%;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    a h2 {
        font-size: 1.75rem;
        color: black;
        bottom: 30px;
        display: none;
        text-decoration: none;
    }
}

.Navbar-expandable__show {
    opacity: 1;
    height: 120px;
    a h2 {
        display: inline-block;
    }
}

.Navbar-expandable__hidden {
}

// Hamburger menu icon

.Navbar-menuIconContainer {
    position: absolute;
    right: 30px;
    width: 60px;
    height: 60px;
    padding-top: 10px;
    z-index: 3;
}

.Navbar-menuIconContainer__closed {
}
.Navbar-menuIconContainer__open {
}
.Navbar-menuIconLine {
    float: right;
    margin-top: 7px;
    height: 6px;
    background: #a33626;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.Navbar-menuIconLine__l {
    width: 50px;
}
.Navbar-menuIconLine__m {
    width: 40px;
}

.Navbar-menuIconLine__s {
    width: 30px;
}
