@import "../../App.scss";
.Footer {
    box-sizing: border-box;
    width: 100%;
    height: 110px;
    background-color: $color-darkGreenFont;
    color: $color-lightFont;
    box-shadow: inset 0 8px 4px -4px rgba(0, 0, 0, 0.25);

}
