@import "../../App.scss";

.PreviewCard {
    margin: 0 auto;
    display: block;
    position: relative;
    width: 80%;
    padding-top: 80%;
    background-color: silver;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.PreviewCard-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.PreviewCard-courtain {
    transition: all 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    background: rgba(32, 32, 32, 0.6);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        h5,
        h6 {
            text-align: center;
            z-index: 10;
            color: $color-lightFont;
        }
    }
}

.PreviewCard-courtain:hover{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height:100%;
}

.Gallery-previewCard{
    margin-bottom: 30px;
}
